* {
  box-sizing: border-box;
}

.smiley {
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.chart {

  display: flex;
  /* Use flexbox for layout */
  justify-content: space-between;
  /* Space between charts */
}

.withTitle {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  width: 90%;
}

.chartSideBySide {

  padding: 10px;
  width: 90%;

}

.rightSided {
  text-align: right;
  margin-top: 20px;
  display: block;
  border: 1px solid #d0d0d0;
  border-radius: 5px;

}

.legend {
  height: 26px;
 
  margin: auto;
  display: block;
}
.anmerkung {
  font-style: italic;
  margin-top: 20px;
}
.share_img {
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.big_icon {
  height: 60px;
  vertical-align: middle;
  margin-right: 0px;
}