*{
  box-sizing: border-box;
  /*float: left;*/
}
.rightSided{
  position: absolute;
  right: 150px;
  width: 200px;
  border: solid 2px rgb(131, 135, 207);
  margin: 4px;
  padding: 4px;
}

.chart_container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between charts */
}

.chart {
  flex: 1; /* Allow the charts to grow and fill the container */
  margin: 10px; /* Add some margin between charts */
  padding: 20px;
  border: solid 2px rgb(131, 135, 207); /* Optional: add border for visual separation */
  width: 50%;
}